@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #f8f8f8;
  @apply font-poly-sans;
}

/* region Font */
@font-face {
  font-family: 'PolySans-Median';
  src: url('../public/fonts/PolySans-Median.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PolySans-Slim';
  src: url('../public/fonts/PolySans-Slim.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PolySans-Bulky';
  src: url('../public/fonts/PolySans-Bulky.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-poly-sans {
  font-family: 'PolySans-Median', sans-serif;
}

.font-poly-sans-slim {
  font-family: 'PolySans-Slim', sans-serif;
}

.font-poly-sans-bulky {
  font-family: 'PolySans-Bulky', sans-serif;
}

/* endregion */

/* region Animation */
.hover-animation {
  transition: all 0.3s ease;
}

.hover-animation:hover {
  transform: scale(1.02);
  transition: all 0.3s ease;
}
